{% extends "base.html" %}

{% block content %}
<header>
        <div id="profile" class="relative h-15 bg-linear-to-r from-[#0f172a] via-[#1e293b] to-[#0f172a] flex items-center justify-between ">
            <div class=" pl-50 flex items-center gap-3"><img class="h-25 w-30  flex items-center" src="/static/logo.png" alt="SignBridge" >
            <div class="h-12 w-20 font-bold text-xl text-white flex items-center">SignBridge</div></div>
            <div class=" w-100 flex items-center gap-5 "><button class="p-2 rounded-full hover:bg-gray-600 text-yellow-400  transition"><svg id="theme" xmlns="http://www.w3.org/2000/svg" 
class="h-6 w-6 text-yellow-400 cursor-pointer "
fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">

  <circle cx="12" cy="12" r="5"></circle>

  <line x1="12" y1="1" x2="12" y2="3"></line>
  <line x1="12" y1="21" x2="12" y2="23"></line>

  <line x1="4.22" y1="4.22" x2="5.64" y2="5.64"></line>
  <line x1="18.36" y1="18.36" x2="19.78" y2="19.78"></line>

  <line x1="1" y1="12" x2="3" y2="12"></line>
  <line x1="21" y1="12" x2="23" y2="12"></line>

  <line x1="4.22" y1="19.78" x2="5.64" y2="18.36"></line>
  <line x1="18.36" y1="5.64" x2="19.78" y2="4.22"></line>

</svg></button>
  <div id="isprofile" class="absolute right-10 h-10 w-10 rounded-full cursor-pointer overflow-hidden">
    <canvas id="avatarCanvas" width="40" height="40"></canvas>
</div>

            </div>
            
        </div>
    </header>
    <main id="main" class="h-180 flex items-center justify-center bg-[url('/static/images/pexels-codioful-7130536.jpg')] bg-cover ">
        <div></div>
        <div></div>
        <div></div>
<div class=" h-160 w-300 flex flex-wrap gap-5 flex-col items-center justify-center m-10">
    <div class="flex flex-col gap-20 ">
        <div class="flex gap-40">
        <form method="GET" action="/Signconverter.html">
        <button  class="bg-gradient-to-r from-[#1a0033] via-[#32004d] to-[#0d001a] group flex justify-center items-center h-70 w-100  rounded-3xl shadow-2xl hover:shadow-2xl hover:brightness-85 hover:scale-105 transition duration-250 cursor-pointer" methods="GET"><div class="h-50 w-50 flex flex-col items-center gap-5 justify-center ">
            <div class=" flex justify-center items-center bg-white/20 backdrop-blur-2xl rounded-full h-22 w-22 group-hover:scale-110 transition duration-250">
                <svg viewBox="0 0 50 50" class="h-18 w-18">
            <line x1="25" y1="10" x2="25" y2="40"
                  stroke="white" stroke-width="3" stroke-linecap="round"/>
            <line x1="10" y1="25" x2="40" y2="25"
                  stroke="white" stroke-width="3" stroke-linecap="round"/>
        </svg>
            </div>
            <div class="h-5 w-50 group-hover:scale-110 transition duration-250 ">
                <p class="text-1xl font-bold text-white font-sans">Sign Converter</p>
            </div>
        </div></button></form>
 <form method="GET" action="/Signtranslate.html">  <button  class="bg-gradient-to-r from-[#0b3d2e] via-[#14532d] to-[#022c22] group flex justify-center items-center h-70 w-100  rounded-3xl shadow-2xl hover:shadow-2xl hover:brightness-85 hover:scale-105 transition duration-250 cursor-pointer"><div class="h-50 w-50 flex flex-col items-center gap-5 justify-center ">
            <div class=" flex justify-center items-center bg-white/20 backdrop-blur-2xl rounded-full h-22 w-22 group-hover:scale-110 transition duration-250">
                 <svg xmlns="http://w3.org" width="60" height="60" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
  <path d="M18 11V6a2 2 0 0 0-2-2v0a2 2 0 0 0-2 2v0" stroke="white"></path>
  <path d="M14 10V4a2 2 0 0 0-2-2v0a2 2 0 0 0-2 2v0" stroke="white"></path>
  <path d="M10 10.5V6a2 2 0 0 0-2-2v0a2 2 0 0 0-2 2v0" stroke="white"></path>
  <path d="M18 8a2 2 0 1 1 4 0v6a8 8 0 0 1-8 8h-2c-2.8 0-4.5-.86-5.99-2.34l-3.6-3.6a2 2 0 0 1 2.83-2.82L7 15" stroke="white"></path>
</svg>
            </div>
            <div class="h-5 w-50 group-hover:scale-110 transition duration-250 ">
                <p class="text-1xl font-bold text-white font-sans">Sign Translate</p>
            </div>
        </div></button></form>
        </div>
        <div class="flex justify-center">
        <form method="GET" action="/Signrules.html">  <button  class="bg-gradient-to-r from-[#172e6b] via-[#143783] to-[#1e40af] group flex justify-center items-center h-70 w-100  rounded-3xl shadow-2xl hover:shadow-2xl hover:brightness-85 hover:scale-105 transition duration-250 cursor-pointer"><div class="h-50 w-50 flex flex-col items-center gap-5 justify-center ">
            <div class=" flex justify-center items-center bg-white/20 backdrop-blur-2xl rounded-full h-22 w-22 group-hover:scale-110 transition duration-250">
                 <svg viewBox="0 0 24 24" class="h-12 w-12">
                    <path d="M2 12s4-6 10-6 10 6 10 6-4 6-10 6-10-6-10-6z"
                          fill="none"
                          stroke="white"
                          stroke-width="2"
                          stroke-linecap="round"
                          stroke-linejoin="round"/>
                    
                    <circle cx="12" cy="12" r="3" fill="white"/>
                </svg>
            </div>
            <div class="h-5 w-50 group-hover:scale-110 transition duration-250 ">
                <p class="text-1xl font-bold text-white font-sans">Sign Rules</p>
            </div>
        </div></button></form></div>
    </div>
</div>



<script>
let username = "{{ username }}";

function getInitials(name) {
    let words = name.trim().split(" ");
    let initials = words[0][0];
    if (words.length > 1) {
        initials += words[1][0];
    }
    return initials.toUpperCase();
}

function getColor(name) {
    let colors = ["#FF5733", "#33FF57", "#3357FF", "#FF33A8", "#FF8C00"];
    let index = name.length % colors.length;
    return colors[index];
}

function generateAvatar() {
    let canvas = document.getElementById("avatarCanvas");
    let ctx = canvas.getContext("2d");

    let initials = getInitials(username);

    
    ctx.fillStyle = getColor(username);
    ctx.beginPath();
    ctx.arc(20, 20, 20, 0, Math.PI * 2);
    ctx.fill();

    
    ctx.fillStyle = "white";
    ctx.font = "bold 18px Arial";
    ctx.textAlign = "center";
    ctx.textBaseline = "middle";
    ctx.fillText(initials, 20, 22);
}

generateAvatar();
</script>




{% endblock %}