{% extends "base.html" %}

{% block content %}
<header>
        <div class="h-15 bg-linear-to-r from-[#0f172a] via-[#1e293b] to-[#0f172a] flex items-center justify-between ">
            <div class=" pl-50 flex items-center gap-3"><img class="h-25 w-30   flex items-center" src="/static/logo.png" alt="SignBridge" >
            <div class="h-12 w-20 font-bold text-xl text-white flex items-center">SignBridge</div></div>
            <div class=" w-100 flex items-center gap-5"><button class="p-2 rounded-full hover:bg-gray-600 text-yellow-400  transition"><svg id="theme" xmlns="http://www.w3.org/2000/svg" 
class="h-6 w-6 text-yellow-400 cursor-pointer "
fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">

  <circle cx="12" cy="12" r="5"></circle>

  <line x1="12" y1="1" x2="12" y2="3"></line>
  <line x1="12" y1="21" x2="12" y2="23"></line>

  <line x1="4.22" y1="4.22" x2="5.64" y2="5.64"></line>
  <line x1="18.36" y1="18.36" x2="19.78" y2="19.78"></line>

  <line x1="1" y1="12" x2="3" y2="12"></line>
  <line x1="21" y1="12" x2="23" y2="12"></line>

  <line x1="4.22" y1="19.78" x2="5.64" y2="18.36"></line>
  <line x1="18.36" y1="5.64" x2="19.78" y2="4.22"></line>

</svg></button>
            <a class="h-9.5 w-17 text-blue-400 border-2 rounded-md flex items-center justify-center pb-1 hover:bg-blue-600 hover:border-transparent hover:text-white" href="/login.html">login</a>
            <a class="h-9.5 w-18 bg-blue-600 text-white border-2 border-transparent rounded-md flex items-center justify-center pb-1 hover:bg-blue-700" href="/signup.html">Sign Up</a></div>
            
        </div>
    </header>
    <main id="main" class="flex items-center justify-center bg-[url('/static/images/pexels-codioful-7130536.jpg')] bg-cover ">
        <div></div>
        <div></div>
        <div></div>


<div class="h-190 w-110 shadow-2xl mt-5 rounded-2xl bg-white">
    <div class="relative right-0.8 bottom-0.5 h-40 w-110  flex flex-col items-center justify-center gap-2 rounded-t-2xl bg-linear-to-r from-[#8e2de2] via-[#6a11cb] to-[#4a00e0]" ><p class="text-white font-extrabold text-4xl font-sans">Create Account</p> <p class="text-white font-sans">join us today!</p></div>
    <div class="mt-10 ml-5 font-sans">
        <form class="flex flex-col gap-7 " method="POST" action="/signup.html">

    <div class="flex flex-col "><label class="font-medium text-gray-700 font-sans">Name</label>
    <div class="relative"><svg xmlns="http://www.w3.org/2000/svg" 
class="h-7 w-7 text-gray-400 absolute left-3 top-3 "
fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">

  <circle cx="12" cy="8" r="4"></circle>
  <path d="M4 20c0-4 4-6 8-6s8 2 8 6"></path>

</svg>
 <input class="border h-12 w-97 border-gray-300 rounded-xl focus:outline-none focus:ring-2 focus:ring-[#6a11cb] focus:border-transparent transition-all duration-300 pl-12" type="text" name="name" placeholder="Enter your name" required></div>
</div>
   

    <div id="ea" class="flex flex-col "><label class="font-medium text-gray-700">Email</label>
        <div class="relative "><svg xmlns="http://www.w3.org/2000/svg"
class="h-7 w-7 text-gray-400 absolute left-3 top-3"
fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">

<rect x="3" y="5" width="18" height="14" rx="2"></rect>
<path d="M3 7l9 6 9-6"></path>

</svg>
<input id="em" class="border h-12 w-97 border-gray-300 rounded-xl focus:outline-none focus:ring-2 focus:ring-[#6a11cb] focus:border-transparent transition-all duration-300 pl-12" type="text" name="email" placeholder="Enter your email" required></div>
</div>
    

   <div id="pa" class="flex flex-col "> <label class="font-medium text-gray-700">Password</label>
    <div class="relative"><svg xmlns="http://www.w3.org/2000/svg"
class="h-5 w-5 text-gray-400 absolute left-3.5 top-4"
fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="3">

<rect x="5" y="11" width="14" height="10" rx="2"></rect>
<path d="M7 11V7a5 5 0 0110 0v4"></path>

</svg> 
    <input id="pass" class="border h-12 w-97 border-gray-300 rounded-xl focus:outline-none focus:ring-2 focus:ring-[#6a11cb] focus:border-transparent transition-all duration-300 pl-12 pr-12" type="password" name="password" placeholder="Create a password" required minlength="8">
    <svg id="eye1" xmlns="http://www.w3.org/2000/svg"
class="h-6 w-6 text-gray-400 cursor-pointer absolute right-12 top-3"
fill="none"
viewBox="0 0 24 24"
stroke="currentColor"
stroke-width="2">

<path stroke-linecap="round" stroke-linejoin="round"
d="M3 3l18 18"/>

<path stroke-linecap="round" stroke-linejoin="round"
d="M10.58 10.58a3 3 0 004.24 4.24"/>

<path stroke-linecap="round" stroke-linejoin="round"
d="M9.88 4.24A10.94 10.94 0 0112 4.5c6 0 10.5 7.5 10.5 7.5a18.24 18.24 0 01-3.17 4.22M6.1 6.1C3.77 7.94 1.5 12 1.5 12s4.5 7.5 10.5 7.5c1.61 0 3.12-.34 4.47-.94"/>

</svg>
</div>

</div>

    <div id="cpa" class="flex flex-col "><label class="font-medium text-gray-700">Confirm password</label>
    <div class="relative"><svg xmlns="http://www.w3.org/2000/svg"
class="h-5 w-5 text-gray-400 absolute left-3.5 top-4"
fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="3">

<rect x="5" y="11" width="14" height="10" rx="2"></rect>
<path d="M7 11V7a5 5 0 0110 0v4"></path>

</svg>
    <input id="cpass" class="border h-12 w-97 border-gray-300 rounded-xl focus:outline-none focus:ring-2 focus:ring-[#6a11cb] focus:border-transparent transition-all duration-300 pl-12 pr-12" type="password" name="cpassword" placeholder="Confirm your password" required>
    <svg id="eye2" xmlns="http://www.w3.org/2000/svg"
class="h-6 w-6 text-gray-400 cursor-pointer absolute right-12 top-3"
fill="none"
viewBox="0 0 24 24"
stroke="currentColor"
stroke-width="2">

<path stroke-linecap="round" stroke-linejoin="round"
d="M3 3l18 18"/>

<path stroke-linecap="round" stroke-linejoin="round"
d="M10.58 10.58a3 3 0 004.24 4.24"/>

<path stroke-linecap="round" stroke-linejoin="round"
d="M9.88 4.24A10.94 10.94 0 0112 4.5c6 0 10.5 7.5 10.5 7.5a18.24 18.24 0 01-3.17 4.22M6.1 6.1C3.77 7.94 1.5 12 1.5 12s4.5 7.5 10.5 7.5c1.61 0 3.12-.34 4.47-.94"/>

</svg>
</div>

</div>
<button id="btns" class="h-12 w-97 rounded-xl bg-linear-to-r from-[#8e2de2] via-[#6a11cb] to-[#4a00e0] text-white font-bold hover:shadow-2xl hover:scale-105 transition duration-200" type="submit">Sign Up</button>
</form>

    </div>
</div>

{% endblock %}